a.navbar-item {
  color: $brand-color;
  &:hover {
    color: black;
  }
}

.navbar-link {
  color: $brand-color;
  &:hover {
    color: black;
  }
}

.navbar-brand {
  padding-top: .2rem;
  font-size: 1.5rem;
  font-family: $brand-font;
  text-transform: uppercase;;
}
