<h1 class="title is-1">{{ user.username }}'s profile</h1>

<div class="columns is-multiline">
  <div class="column is-one-quarter">
    <figure class="image is-square">
      <img src="{{ user.avatar }}" alt="{{ user.username }}">
    </figure>
    <a ui-sref="usersEdit({ id: user._id })" class="button" ng-if="isAuthenticated() && user.isOwner">Edit Profile</a>
    <a ui-sref="usersDelete({ id: user._id })" class="button is-danger" ng-if="isAuthenticated() && user.isOwner">Delete User</a>
  </div>
  <div class="column is-half">
    <ul>
      <li>Rating: {{ user.avgRating }}</li>
      <li>Number of trades: </li>
    </ul>
  </div>
  <div class="column is-one-quarter">
    <h3 class="title is-3">OFFERS MADE PLACEHOLDER</h3>
    <h3 class="title is-3">OFFERS RECEIVED PLACEHOLDER</h3>
  </div>
  <div class="column is-one-sixth">

  </div>
  <div class="column is-two-thirds">
    <h3 class="title is-3">User comments</h3>
    <div class="card" ng-repeat="comment in user.comments">
      <div class="card-content">
        <div class="content">
          <h5 class="title is-5">{{ comment.content }}</h5>
          <h6 class="title is-6">Rated: {{ comment.rating }}</h6>
          <h6 class="title is-6">By: {{ comment.author.username }}</h6>
        </div>
        <button class="button is-danger commentDelete" ng-click="deleteComment(comment)" ng-if="isAuthenticated()">DELETE</button>
      </div>
    </div>
    <div class="column is-three-quarters" ng-if="isAuthenticated()">
      <form ng-submit="createComment()">
        <div class="field">
          <label class="label" for="content">Comment</label>
          <textarea class="input" id="content" name="content" placeholder="Content" ng-model="commentData.content">
          </textarea>
        </div>
        <div class="field">
          <label class="label" for="content">Rating</label>
          <input type="radio" ng-model="commentData.rating" value="1"> 1
          <input type="radio" ng-model="commentData.rating" value="2"> 2
          <input type="radio" ng-model="commentData.rating" value="3"> 3
          <input type="radio" ng-model="commentData.rating" value="4"> 4
          <input type="radio" ng-model="commentData.rating" value="5"> 5
        </div>
        <button>Submit Comment</button>
      </form>
    </div>
  </div>
  <div class="column is-one-sixth">

  </div>

</div>
