<form ng-submit="createRecord()">
  <div class="field">
    <label for="artist" class="label">Artist</label>
    <input type="text" class="input" name="artist" id="artist" ng-model="data.artist">
  </div>
  <div class="field">
    <label for="title" class="label">Album Title</label>
    <input type="text" class="input" name="title" id="title" ng-model="data.title">
  </div>
  <div class="field">
    <label for="image" class="label">Album Cover</label>
    <input type="text" class="input" name="image" id="image" ng-model="data.image">
  </div>
  <div class="field">
    <label for="genre" class="label">Genre</label>
    <input type="text" class="input" name="genre" id="genre" ng-model="data.genre">
  </div>
  <div class="field">
    <label for="label" class="label">Label</label>
    <input type="text" class="input" name="label" id="label" ng-model="data.label">
  </div>
  <div class="field">
    <label for="releaseDate" class="label">Release Date</label>
    <input type="text" class="input" name="releaseDate" id="releaseDate" ng-model="data.releaseDate">
  </div>
  <div class="field">
    <label for="condition" class="label">Condition</label>
    <input type="text" class="input" name="condition" id="condition" ng-model="data.condition">
  </div>

  <button class="button">Submit</button>
</form>
