<form>
  <div class="columns">
    <div class="column">
      <div class="field">
        <input class="input" name="search" placeholder="Search..." ng-model="search" />
      </div>
    </div>
    <div class="column">
      <div class="field">
        <div class="control">
          <div class="select">
            <select ng-model="sort">
              <option value="title">Album: A-Z</option>
              <option value="-title">Album: Z-A</option>
              <option value="artist">Artist: A-Z</option>
              <option value="-artist">Artist: Z-A</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</form>

<div class="columns is-multiline">
  <div ng-repeat="record in records" class="column is-one-fifth-desktop is-third-tablet">
    <a ui-sref="recordsShow({ id: record._id})">
      <div class="card">
        <div class="card-image">
          <figure class="image">
            <img  ng-src="{{ record.image }}" alt="{{ record.title}}"/>
          </figure>
        </div>
        <div class="card-content">
          <div class="content">
            <h4 class="title is-4">{{ record.title }}</h4>
            <h5 class="title is-5">{{ record.artist }}</h5>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
