<div class="columns is-multiline">
  <div ng-repeat="message in messages" class="column is-one-fifth-desktop is-third-tablet">
    <a ui-sref="messagesShow({ id: message._id})" ng-if="(isAuthenticated() && isOwner)">
      <div class="card">
        <div class="card-content">
          <div class="content">
            <h4 class="title is-4">{{ message.userOneId.username }} - {{ message.userTwoId.username }}</h4>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>

<h1 class="title is-one" ng-if="!isOwner">Unfortunately you have no messages</h1>
