c<div class="columns is-multiline">
  <div class="column is-one-quarter-desktop">
    <div class="card-image">
      <figure class="image">
        <img  ng-src="{{ data.wantedRecord.image }}" alt="{{ data.wantedRecord.title}}"/>
      </figure>
    </div>
  </div>
  <div class="column is-one-third-desktop">
    <div class="card">
      <div class="content">
        <h2 class="title is-2">{{ data.wantedRecord.artist }}</h2>
        <h5 class="title is-5">{{ data.wantedRecord.title }}</h5>
        <h5 class="title is-5">Genres: <span ng-repeat="genre in data.wantedRecord.genres">{{ genre }} | </span> </h5>
        <h5 class="title is-5">Label: {{ data.wantedRecord.label }} </h5>
        <h5 class="title is-5">Condition: "{{ data.wantedRecord.condition }}"</h5>
        <h5 class="title is-5">Rating: {{ '⭐️'.repeat(data.wantedRecord.avgRating)}} </h5>
      </div>
    </div>
  </div>
  <div class="column is-one-quarter-desktop">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img ng-src="{{ data.wantedRecord.owner.avatar }}" alt="{{ data.wantedRecord.owner.username }}"/>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4 class="subtitle is-4">{{ data.wantedRecord.owner.username }}</h4>
          <h5 class="subtitle is-5">Rating: {{ '⭐️'.repeat(data.wantedRecord.avgRating) }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-quarter-desktop">
    <form ng-submit="submitRequest(currentUserId)">
      <div class="field">
        <label class="label">Offer</label>
        <p class="input" ng-repeat="offer in data.offeredRecord">{{ offer.artist }}</p>
      </div>
      <div class="field">
        <label for="message" class="label">Message</label>
        <textarea type="text" class="input" name="message" ng-model="data.message" id="message"></textarea>
      </div>
      <button class="button">Make request</button>
    </form>
  </div>
  <div ng-repeat="record in data.offeredRecord">
    <a class="button" ng-click="addToOffer(record._id, record.title, record.artist)" ng-model="recordToOffer">{{ record.title }}</a>
  </div>

</div>
