<h1 class="title is-1">Offers received</h1>
<table class="table is-hoverable is-fullwidth">
  <thead>
    <th>User</th>
    <th>User Rating</th>
    <th>Offer</th>
    <th>Message</th>
    <th>Status</th>
  </thead>
  <tbody ng-repeat="user in users">
    <tr>
      <td><img class="icon is-medium" src="{{ record.requests.offer.owner.avatar }}" alt="{{ record.requests.offer.owner.username }}"><a ui-sref="usersShow({ id: record.requests.offer.owner._id})">{{ record.requests.offer.owner.username }}</a></td>
      <td>{{ record.requests.offer.owner.avgRating }}</td>
      <td>{{ record.requests.offer.title }}</td>
      <td>{{ record.requests.message }}</td>
      <td>{{ record.requests.status }}</td>
    </tr>
  </tbody>
</table>
