<div class="columns is-multiline">
  <div class="column is-one-quarter-desktop" ng-repeat="record in recordToDisplay">
    <div class="card-image">
      <figure class="image">
        <img  ng-src="{{ record.image }}" alt="{{ record.title}}"/>
      </figure>
    </div>
  </div>
  <div class="column is-one-third-desktop" ng-repeat="record in recordToDisplay">
    <div class="card">
      <div class="content">
        <h2 class="title is-2"> {{ record.artist }} </h2>
        <h5 class="title is-5"> {{ record.title }} </h5>
        <h5 class="title is-5">Genres: <span ng-repeat="genre in record.genres">{{ genre }} | </span> </h5>
        <h5 class="title is-5">Label: {{ record.label }} </h5>
        <h5 class="title is-5">Condition: {{ record.condition }} </h5>
        <h5 class="title is-5">Rating: {{ '⭐️'.repeat(record.avgRating)}} </h5>
      </div>
    </div>
  </div>
  <div class="column is-one-quarter-desktop" ng-repeat="record in recordToDisplay">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img ng-src="{{ record.owner.avatar }}" alt="{{ record.owner.username }}"/>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4 class="subtitle is-4">{{ record.owner.username }}</h4>
          <h5 class="subtitle is-5">Rating: {{ '⭐️'.repeat(record.owner.avgRating) }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-quarter-desktop">
    <form ng-submit="submitRequest(currentUserId)">
      <div class="field">
        <label class="label">Offer</label>
        <p class="input" ng-repeat="record in offerArray" ng-click="removeRecord(record)">{{ record.title }} by {{ record.artist }}</p>
      </div>
      <div class="field">
        <label for="message" class="label">Message</label>
        <textarea type="text" class="input" name="message" ng-model="data.message" id="message"></textarea>
      </div>
      <button class="button">Make request</button>
    </form>
  </div>
  <div class="column is-half-desktop" ng-repeat="record in userRecords">
    <a class="button" ng-click="addToOffer(record)" ng-model="recordToOffer">{{ record.title }}</a>
  </div>

</div>
