<div class="columns is-multiline">
  <div class="column is-one-quarter-desktop">
    <div class="card-image">
      <figure class="image">
        <img  ng-src="{{ record.image }}" alt="{{ record.title}}"/>
      </figure>
    </div>
  </div>
  <div class="column is-one-third-desktop">
    <div class="card">
      <div class="content">
        <h2 class="title is-2">{{ record.artist }}</h2>
        <h5 class="title is-5">{{ record.title }}</h5>
        <h5 class="title is-5">Condition: "{{ record.condition }}"</h5>
        <h5 class="title is-5">Rating: {{ record.avgRating }}</h5>
      </div>
    </div>
  </div>
  <div class="column is-one-quarter-desktop">
    <div class="card">
      <div class="card-image">
        <figure class="image">
          <img ng-src="{{ record.owner.avatar }}" alt="{{ record.owner.username }}"/>
        </figure>
      </div>
      <div class="card-content">
        <div class="content">
          <h4 class="subtitle is-4">{{ record.owner.username }}</h4>
          <h5 class="subtitle is-5">Rating: {{ record.owner.avgRating }}</h5>
        </div>
      </div>
    </div>
  </div>
  <div class="column is-one-sixth-desktop">
  </div>
  <div class="column is-two-thirds-desktop">
    <form ng-submit="submitRequest()">
      <div class="field">
        <label for="offeredRecord" class="label">Offer</label>
        <input type="text" class="input" name="offeredRecord" ng-model="data.offeredRecord" id="offeredRecord">
      </div>
      <div class="field">
        <label for="message" class="label">Message</label>
        <textarea type="text" class="input" name="message" ng-model="data.message" id="message"></textarea>
      </div>
      <button class="button">Make request</button>
    </form>
  </div>

</div>
