//FONTS
$brand-font: 'Shrikhand', cursive;
$main-font: 'Coustard', sans-serif;

//COLORS
$brand-color: rgba(170,43,43, 1);
$danger-color: #2baaaa;

//BORDERS
$content-border: 2px solid $brand-color;
$record-border: 1px solid $brand-color;
