<div class="auth-display-container">
  <form ng-submit="handleSubmit()">
    <div class="field">
      <label for="email" class="label">Email</label>
      <div class="control has-icons-left">
        <input type="text" name="email" class="input" id="email" ng-model="data.email">
        <span class="icon is-small is-left">
          <i class="fas fa-envelope"></i>
        </span>
    </div>
    </div>
    <div class="field">
      <label for="password" class="label">Password</label>
      <div class="control has-icons-left">
        <input type="password" name="password" class="input" id="password" ng-model="data.password">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
      </div>
    </div>

    <button class="button is-info">Submit</button>
  </form>
</div>
