<h1 class="title is-1">{{ user.username }}'s profile</h1>
<div class="columns is-multiline">
  <div class="column is-one-quarter">
    <figure class="image is-square">
      <img src="{{ user.avatar }}" alt="{{ user.username }}">
    </figure>
    <a ui-sref="usersEdit({ id: user._id })" class="button" ng-if="isAuthenticated() && isOwner ">Edit Profile</a>
    <a ui-sref="usersDelete({ id: user._id })" class="button is-danger" ng-if="isAuthenticated() && isOwner">Delete User</a>
  </div>
  <div class="column is-one-quarter">
    <ul>
      <li>Rating: {{ user.avgRating }}</li>
      <li>Number of trades: </li>
    </ul>
  </div>
  <div class="column is-fullwidth">
    <h1 class="title is-1">Offers received</h1>
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <th>User</th>
        <th>User Rating</th>
        <th>Wants</th>
        <th>Offers</th>
        <th>Message</th>
        <th>Status</th>
      </thead>
      <tbody>

          <tr ng-repeat="request in user.incomingRequests">
            <td>{{ request.stage[0] }} </td>
            <td>{{ request.stage[1] }} </td>
            <td>{{ request.offeredRecord.owner.username }}</td>
            <td>{{ request.offeredRecord.owner.avgRating }}</td>
            <td>{{ request.wantedRecord.title }}</td>
            <td>{{ request.offeredRecord.title }}</td>
            <td>{{ request.message }}</td>
            <td>{{ request.status }}</td>
            <td><a class="button is-success" ng-if="request.stage[0] < 1" ng-click="acceptOffer(request)">Accept</a></td>
            <td><a class="button is-danger" ng-if="request.stage[0] < 1" ng-click="declineOffer(request)">Decline</a></td>
            <td><a class="button is-danger" ng-if="request.stage[0] === 1" ng-click="incomingRecordsSent(user.username, request)">Record(s) sent</a></td>
            <td><a class="button is-danger" ng-if="request.stage[1] === 2" ng-click="incomingRecordsReceived(user.username, request)">Record(s) received</a></td>
            <td><a class="button is-danger" ng-if="request.stage[1] === 3 && request.stage[0] === 3" ng-click="swapRecords(wantedRecord.owner._id, offeredRecord.owner._id)">Swap records</a></td>
          </tr>
      </tbody>
    </table>

    <h1 class="title is-1">Offers made</h1>
    <table class="table is-hoverable is-fullwidth">
      <thead>
        <th>User</th>
        <th>User Rating</th>
        <th>Wants</th>
        <th>Offers</th>
        <th>Message</th>
        <th>Status</th>
      </thead>

      <tbody>
          <tr ng-repeat="request in user.outgoingRequests">
            <td>{{ request.stage[0] }} </td>
            <td>{{ request.stage[1] }} </td>
            <td>{{ request.wantedRecord.owner.username }}</td>
            <td>{{ request.wantedRecord.owner.avgRating }}</td>
            <td>{{ request.wantedRecord.title }}</td>
            <td>{{ request.offeredRecord.title }}</td>
            <td>{{ request.message }}</td>
            <td>{{ request.status }}</td>
            <td><a class="button is-success" ng-if="request.stage[1] < 1" ng-click="editOffer(request)">Edit</a></td>
            <td><a class="button is-danger" ng-click="deleteOffer(request)">Delete</a></td>
            <td><a class="button is-danger" ng-if="request.stage[1] === 1" ng-click="outgoingRecordsSent(user.username, request)">Record(s) sent</a></td>
            <td><a class="button is-danger" ng-if="request.stage[0] === 2" ng-click="outgoingRecordsReceived(user.username, request)">Record(s) received</a></td>
          </tr>
      </tbody>
    </table>
  </div>
  <div class="column is-one-sixth">

  </div>
  <div class="column is-two-thirds">
    <h3 class="title is-3">User comments</h3>
    <div class="card" ng-repeat="comment in user.comments">
      <div class="card-content">
        <div class="content">
          <h5 class="title is-5">{{ comment.content }}</h5>
          <h6 class="title is-6">Rated: {{ comment.rating }}</h6>
          <h6 class="title is-6">By: {{ comment.author.username }}</h6>
        </div>
        <button class="button is-danger commentDelete" ng-click="deleteComment(comment)" ng-if="isAuthenticated()">DELETE</button>
      </div>
    </div>
    <div class="column is-three-quarters" ng-if="isAuthenticated()">
      <form ng-submit="createComment()">
        <div class="field">
          <label class="label" for="content">Comment</label>
          <textarea class="input" id="content" name="content" placeholder="Content" ng-model="commentData.content">
          </textarea>
        </div>
        <div class="field">
          <label class="label" for="content">Rating</label>
          <input type="radio" ng-model="commentData.rating" value="1"> 1
          <input type="radio" ng-model="commentData.rating" value="2"> 2
          <input type="radio" ng-model="commentData.rating" value="3"> 3
          <input type="radio" ng-model="commentData.rating" value="4"> 4
          <input type="radio" ng-model="commentData.rating" value="5"> 5
        </div>
        <button>Submit Comment</button>
      </form>
    </div>
  </div>
  <div class="column is-one-sixth">

  </div>

</div>
